torch==2.0.0+cu118 -f https://download.pytorch.org/whl/cu118
torchvision==0.15.0+cu118 -f https://download.pytorch.org/whl/cu118
gdown
Pillow
tk
matplotlib
scikit-learn
# torchaudio==2.0.0+cu118 -f https://download.pytorch.org/whl/cu118